/*rank页*/
.githuber-rank {
  .full-rank {
    float: none;
    margin-left: auto;
    margin-right: auto;
    .rank-table img{
      width: 60px;
      height: 60px;
    }
    .rank-table.table tr td{
      line-height: 40px;
      max-width: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .language-rank {
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    .infoNoteLabel{
      margin-left: 0px;
      width: 30%;
    }
  }
  .rank-table {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
  }
}
.infoNoteLabel {
  &.JavaScript-color{
    background-color: #f1e05a;
  }
  &.CSS-color{
    background-color: #563d7c;
  }
  &.Python-color{
    background-color: #3581ba;
  }
  &.Ruby-color{
    background-color: #701516;
  }
  &.Objective-C-color{
    background-color: #438eff;
  }
  &.C-color{
    background-color: #555;
  }
  &.PHP-color{
    background-color: #4F5D95;
  }
}
