<div class="container-fluid" style="margin-top:8%;">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div style="text-align:center;line-height:1;margin-top:100px;">
                        <p style="margin-bottom:0px;font-weight:200;letter-spacing:2px;" id="our-name">GitHuber.info</p>
                        <p style="color:gray;margin-top:0px;" id="slogan">打造最好用的GitHub人才搜索工具</p>
                    </div>
                </div>
            </div>
            <div class="row" style="height:350px;">
                <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 searchBar">
                    <div class="row">
                        <form ng-submit="search()">
                            <div class="col-xs-9" style="padding:0;" id="search-part">
                                <input ng-model="sw" id="index-input" placeholder="请输入GitHub用户名或姓名">
                            </div>
                            <button type="submit" class="col-xs-3 btn-success btn" id="lookup">查看</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 report-entry">
                    
                    <p><img src="images/report_cover.png"></p></a>
                    <a href="#/report"><p>2014年GitHub中国开发者年度报告</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div style="text-align:center;">
                        <p>
                            <a target="_blank" href="https://www.upyun.com/index.html">
                                <img src="/images/upyun_logo.png" alt="" style="opacity:0.8;" class="support-logo">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
