<div class="container-fluid githuber-rank" style="margin-top:50px;">
	<div class="row">
		<div class="col-lg-9 infoNote full-rank">
			<h2 class="infoNoteLabel {{full_rank.name}}-color">{{full_rank.name}}</h2>
			<table class="table table-striped rank-table">
				<tr>
					<td>排名</td>
					<td>姓名</td>
					<td>位置</td>
					<td>仓库数</td>
					<td>粉丝数</td>
					<td>天数</td>
					<td>分数</td>
				</tr>
				<tr ng-repeat="user in full_rank.data.slice(0,50) track by $index" ng-class="getRankClass($index)">
					<td>{{$index + 1}}</td>
					<td>{{user.l}}</td>
					<td>{{user.lo}}</td>
					<td>{{user.pr}}</td>
					<td>{{user.fs}}</td>
					<td>{{user.days}}</td>
					<td>{{user.score}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row" ng-show="isDetail">
		<div class="col-lg-9 language-rank">
			<div class="col-lg-4" ng-repeat="language in languages">
				<div class="infoNote">
					<h2 class="infoNoteLabel {{language.name}}-color">{{language.name}}</h2>
					<div class="row">
						<button class="btn btn-success col-lg-offset-9" ng-click="getDetail(language.name)">更多</button>
					</div>
					<table class="table table-striped rank-table">
						<tr>
							<td>排名</td>
							<td>姓名</td>
							<td>分数</td>
						</tr>
						<tr ng-repeat="user in language.data.slice(0,10) track by $index" ng-class="getRankClass($index)">
							<td>{{$index + 1}}</td>
							<td>{{user.l}}</td>
							<td>{{user.score}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
