<div class="container-fluid github-report" style="margin-top:50px;">
<!--     <div class="row">
        <div class="col-lg-12 infoNote cover">
            <h1 class="title">GitHub 中国开发者年度报告</h1>
            <h1 class="title">{2014}</h1>
            <h2 class="title">GitHuber.info 团队出品</h2>
            <img src="/images/report_cover.png">
        </div>
    </div> -->
    <nav class="navsidebar" ng-class="sideBarClass">
        <div class="navbar-side">
            <ul>
                <li class="section-title">
                    <a ng-click="targetTo('#foreword')">前言</a>
                    <ul class="section-content" >
                        Some content
                    </ul>
                </li>
                <li class="section-title">
                    <a ng-click="targetTo('#cn_analyse')">中国开发者数据统计</a>
                    <ul class="section-content">
                        Some content
                    </ul>
                </li>
            </ul>
            <hr>
            <ul>
                <li class="section-title"><a href="http://pan.baidu.com/s/1hqeR1BI">PDF版下载</a></li>
                <li class="section-title"><a href="http://weibo.com/u/5443462476">关注我们@微博</a></li>
            </ul>
            <span class='hide-side-btn' ng-click="hideSideBar()"><i class="glyphicon glyphicon-chevron-left"></i></span>
        </div>
    </nav>
    <div class="report-body col-lg-10 col-lg-offset-1">
        <div class="row report-section col-lg-12">
            <div class="report-section-title">
                整体概况
            </div>
            <div class="report-section-body">
                <uib-tabset justified="true">
                    <uib-tab heading="概览">
                        <div id="chart-china" class="chart"></div>
                    </uib-tab>
                    <uib-tab heading="中国数据">
                        <div id="chart-map" class="chart"></div>
                    </uib-tab>
                    <uib-tab heading="美国数据">
                        <div id="chart-america"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
    </div>
</div>
